<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">   
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" >
  <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" >
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" >


<link rel="stylesheet" href="css/style.css"></head>
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
<body>
    
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" style="position: absolute">
  <div class="container">
   

    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header " style="position: absolute">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynav"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

     <!-- <a class="navbar-brand" href="#">Brand</a>-->
   <a href="home.html">  <img src="images/cr4/loogoo.jpg" alt="our logo" style="padding-top: 0px;margin-top: -5px"></a>
    </div>

   
      <ul class="nav navbar-nav navbar-right" id="mynav" style="margin: 0 90px ; padding-top: 8px  ">
        <li class="current" style="color: 	#00FFFF; background-color: #C5EFF7"><a href="home.html">HOME</a></li>
        <li><a href="MAKE_ORDER.html">MAKE ORDER</a></li>
        <li><a href="POINTS.html">POINTS</a></li>
        <li><a href="ABOUT.html">ABOUT</a></li>
        <li><a href="CONTACT_US.html" target="_self">CONTACT US</a></li>
      
      </ul>
       <div class="log">
                                     
            <ul   >            
            <li ><a href="login.html" style="margin: 0 -100px; padding-top: 1px ;" >
            <button style="font-size: 15px ; border-radius: 10px ;padding: 5px">
            Get Started
            </button></a></li>
         <!--  <li><a href="register.html" >REGISTER</a></li>-->
        </ul>

      </div> 
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-->
</nav>
<!--  
<section id="welcome">
   
    <div class="container">
        <h1><span style="color:#FF1493;font-size: 200px;font-family: 'Pacifico', cursive ">KEEP</span><BR>
        <span style="color: #FF8C00";font-family: 'Rock Salt', cursive;>MINIA</span> <br>
        <span style="color:#FFD700;font-size: 200px; "> BEAUTIFUL</span></h1>
        <!--<p>Together we can advance our country. We must unite </p>-->
<!--   
     <div class="log">
            <ul>
            
            <li class="log-1"><a href="login.html">LOGIN</a></li>
            <li class="log-2"><a href="register.html">REGISTER</a></li>
        
         </ul>
       
 
      </div> 
      -

</section>
-->
<div id="slide" class="carousel slide" data-ride="carousel" style=" padding-top: 110px" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#slide" data-slide-to="0" class="active"></li>
    <li data-target="#slide" data-slide-to="1"></li>
    <li data-target="#slide" data-slide-to="2"></li>
        <li data-target="#slide" data-slide-to="3"></li>
    <li data-target="#slide" data-slide-to="4"></li>

  </ol>

  <!-- Wrapper for slides -->
  
  <div class="carousel-inner" role="listbox">
    
    <div class="item active">
      
      <a href="\grad pro\amplement\project\MAKE_ORDER.html#description"> <img src="images/cr4/fw.jpg" alt="...">
      </a> <div class="carousel-caption">
       
  <a href="#v"  >
            <button style="padding: 7px;
        background-color: #90C695;
        font-size: 40px;

        border-radius: 40px
        ">
           lets Start
            </button></a>
   </div>
    </div>
    
    <div class="item">
     <a href="">  <img src="images/cr4/fw1.jpg" alt="...">
     </a>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
<div class="item">
      <a href=""> <img src="images/cr4/thumb-1920-628278.jpg" alt="...">
      </a> <div class="carousel-caption">
        ...
      </div>
    </div>
    
    <div class="item">
      <a href=""> <img src="images/cr4/fw8.jpg" alt="...">
      </a><div class="carousel-caption">
        ...
      </div>
    </div>
    
    
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#slide" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--<div class="home">
  <a href="#v"  >
            <button >
           lets Start
            </button></a>
</div>-->
<section id="v" style="margin: 150px 200px;">
  <iframe width="1000" height="515" src="https://www.youtube.com/embed/Zh4F3sZNLqA"
          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  
  <h3 style="color: #913D88">recycling in minutes</h3>
</section>

<section id="home1">
  <div class="h1"> 
    <img src="images/fw3.jpg" width="600" alt="image">
  </div>
  <div class="h2">
    <h1>what we do :</h1>
    <p>We manage and facialtate the process of transfer of rubbish from customer to factories of recycling. Now you can get rid of any Garbage you have sitting in your house.just Fill out our order
form and we will get back to you 
within the hour with .and enjoy a clean environment and clean House we save you time and effort just ask us.
  </p>
  </div>
</section>
<section >
<!--  <div>
    <img src="images/cr4/bac1.jpg" width="100%" height="650px" alt="" style="margin-top: 150px">
  </div>
-->
 <div id="order">
<!--    <img src="images/playmobil-771313_1920.jpg">
-->     
        </div>
     
    
      <div id ="description">
        <h3>Recycling Gallery </h3></br></br>
          <div class="content-img">

          <div class="img1" style="display: inline">  <a href=steal.html>
         <img src="images/jpg/Capture5.jpg" alt="paper"   style="width:15%;height: 25% "></a></div>
         
          
        
          <div class="img2" style="display: inline"> <a href=glass.html>
          <img src="images/jpg/Capture1.jpg" alt="paper" style="width:30%;height: 25% "></a>
        
          </div>
         
          <div class="img3" style="display: inline"> <a href="plastic.html">
          <img src="images/jpg/Capture9.jpg" alt="paper" style="width:30%;height: 25%"></a></div>
           
        
               <div class="img4" style="display: inline"> <a href=aluminum.html>
           <img src="images/jpg/alu.jpg" alt="paper"
                style="width:15%;height: 25% "></a>
           </div>
        
</br>

          <div class="img5"style="display: inline"><a href="plastic_bages.html">
          <img src="images/jpg/Capture4.jpg" alt="paper" class="img1" style="width:15%;height: 60% ;margin-top: 10px"></a></div>
         
           
              <div class="img6" style="display: inline" class="content-img"> <a href=paper.html>
        <img src="images/jpg/Capturej.jpg" alt="paper" class="img1"  style="width:30%;height: 25% ;margin-top: -170px" ></a>
        
        </div>
         
        <div class="img7" style="display: inline"> <a href=cartons.html>
             <img src="images/jpg/Capture8.jpg" alt="paper"  style="width:30%;height: 27% ;margin-top: -170px"></a></div>
           
           <div class="img8" style="display: inline"> <a href="electronics.html">
           <img src="images/jpg/Capture7 (1).jpg" alt="paper"  class="img1" style="width:15%;height: 25% ;margin-top: -170px"></a></div>
                    </div>
         
          <div class="img9" style="display: inline" class="content-img"> <a href=href="househould.html">
        <img src="images/jpg/Capture11.jpg" alt="paper" class="img1"  style="width:35%;height: 30% ;
        margin-top: -330px;margin-left: 150px"></a>
        
        </div>
        
          <div class="img10" style="display: inline" class="content-img"> <a href="food.html">
        <img src="images/jpg/Capture6.jpg" alt="paper" class="img1"  style="width:35%;height: 30% ;
        margin-top: -370px;margin-left: 500px"></a>
        
        </div>
         <!--
         <a href="househould.html">
         <img src="images/jpg/Capture11.jpg" alt="paper"  class="img1" style="width:30%;height: 25% ;margin-top: -350px;margin-left: 160px">
         </a>
             -->         
      </div>
      
      </div>
 
</section>
<section id="about1">
  
  <div class="why" style="display: inline">
      <h1>WHY YOU SHOULD CHOOSE US</h1>
      
      <div class="div1">
       <i class="fa fa-tag fa-5x" aria-hidden="true" style="size: 1000px;">  </i>
       <p> <strong>Great Low Prices</strong>
       Competitive<br>  No hidden surcharges of any kind!</p>
      </div>
       
    
    
     <div class="div2" >

      <i class="fa fa-pencil fa-4x" aria-hidden="true"></i>

       <p> <strong>Easy Online Ordering</strong>  Fill out our contact<br>  form and we will get back to you
       <br>within the hour with a full quote.
     
     </div>
     <div class="div3" >

      <i class="fa fa-clock-o fa-4x" aria-hidden="true"></i>

       <p> <strong>EAST TO FIND SHOP</strong> We're going
       to build a shop in every small area, so we'll get you quick.
 <br>
       Service available 7 days a week​.</p>
      </div>
       
       
       <div class="div4" >


         <i class="fa fa-phone fa-4x" aria-hidden="true"></i></i>
       <p> <strong>Telephone Support</strong> We care about our customers
       <br>and strive to make your experience
       <br>with us the best ever. We are available
       <br>24h for any questions and problems you may have.</p>
      </div>
       
       
    </div>
  
</section>
         
<!--
<div class="introduction">
    <form id="order">
     Name   <input type="text" placeholder="write your name">
     Email  <input type="email" placeholder="write email address" required>
     Place <input type="text"  placeholder="city" required>
     Tel <input type="text" placeholder="write your number">
    Quanity  <textarea cols="12" rows="10"> </textarea>

    <button type="submit" value="order now">
    </form>
    
</div>

<div class="contactus">
    <!--
    <div class="imagge">
        <img src="images/trash-2497065__340.jpg" alt="contact us ">
    </div>
  -->
  <!--
    <form id="contact">
        <h1>
            Get In Touch With Us
        </h1>
        <p>if there any qustion do not hesitate and send immediately</p>
        <hr>
            <div>
            
            <h3>Name</h3>
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" placeholder="write your name">
                
        </div>
    <div>
            <h3>Telephone</h3>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <input type="text" placeholder="write your number">
                
        </div>
    <div>
            <h3>Email</h3>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <input type="email" placeholder="write your email">
                
        </div>
       <div>
         <h3>Message</h3>
            <i class="fa fa-info" aria-hidden="true"></i>
         <textarea cols="30" rows="10"></textarea>                
       </div>
       <button type="submit">Submit</button>
       
    </form>
</div>
-->
<!---->

<footer style="margin-top: 500px">
  <div class="minia" style="float: left ;padding: 10px">
        <h4 style="margin: 0 10px;"><span style="color:#FF1493;font-size: 35px;font-family: 'Pacifico', cursive ;" >KEEP</span>
        <span style="font-size: 25px; color: #FF8C00";font-family: 'Rock Salt', cursive;>MINIA</span></br> 
        <span style="color:#FFD700;font-size: 40px; "> BEAUTIFUL</span></h4>
  </div>
   
   
   <div class="mail">
      <p > copy right &copy; All rights reserved</p>
      <!--<p>mah199645@gmail.com</p>-->
    </div>

   <div class="follow">
      <h3>follow us:</h3>
        <div class="icon">
       <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
       <a href="https://facebook.com/">  <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
    
    </div>
  </div>
</footer>

<script src="js/jquery-3.2.1.min.js"></script>  
<script src="js/bootstrap.min.js"></script> 
<script src="js/plugins
.js"></script> 

</body>

</html>