<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">   
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" >

<link rel="stylesheet" href="css/style.css"></head>
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
<body>
    
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" style="position: absolute">
  <div class="container">
   

    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header " style="position: absolute">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynav"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

     <!-- <a class="navbar-brand" href="#">Brand</a>-->
   <a href="home.html">  <img src="images/loogoo.ico" alt="our logo" style="padding-top: 0px"></a>
    </div>

   
      <ul class="nav navbar-nav navbar-right" id="mynav" style="margin: 0 90px ; padding-top: 8px  ">
        <li class="current" style="color: 	#00FFFF; background-color: #C5EFF7"><a href="home.html">HOME</a></li>
        <li><a href="MAKE_ORDER.html">MAKE ORDER</a></li>
        <li><a href="POINTS.html">POINTS</a></li>
        <li><a href="ABOUT.html">ABOUT</a></li>
        <li><a href="CONTACT_US.html" target="_self">CONTACT US</a></li>
      
      </ul>
       <div class="log">
                                     
            <ul   >            
            <li ><a href="login.html" style="margin: 0 -100px; padding-top: 1px ;" >
            <button style="font-size: 15px ; border-radius: 10px ;padding: 5px">
            Get Started
            </button></a></li>
         <!--  <li><a href="register.html" >REGISTER</a></li>-->
        </ul>

      </div> 
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-->
</nav>
  <section id="replace">
    <h1 style="text-align: center">Name of customer</h1>
    <div >
        <div class="re">
        <h2>my point</h2>
        <h3>100</h3>
         </div>
         <div class="custom-select r">
              <label id="lab">replace options</label>
                
                <select>
                <option>money</option>
                <option>electrical devices</option>
                 
                <option>bit coin </option>
                <option>balance   </option>
                
              </select>
              </div>
        <div class="btn">
         <a href="replace.php">
         <button class="btn1">
            replace
         </button></a>
        <a href="POINTS.html">
          <button class="btn2">
            cancel
         </button></a>
          </div>
    </div>
  </section>
<!--  
<section id="welcome">
   
    <div class="container">
        <h1><span style="color:#FF1493;font-size: 200px;font-family: 'Pacifico', cursive ">KEEP</span><BR>
        <span style="color: #FF8C00";font-family: 'Rock Salt', cursive;>MINIA</span> <br>
        <span style="color:#FFD700;font-size: 200px; "> BEAUTIFUL</span></h1>
        <!--<p>Together we can advance our country. We must unite </p>-->
<!--   
     <div class="log">
            <ul>
            
            <li class="log-1"><a href="login.html">LOGIN</a></li>
            <li class="log-2"><a href="register.html">REGISTER</a></li>
        
         </ul>
       
 
      </div> 
      -

</section>
-->

<footer style="margin-top: 500px">
  <div class="minia" style="float: left ;padding: 10px">
        <h4 style="margin: 0 10px;"><span style="color:#FF1493;font-size: 35px;font-family: 'Pacifico', cursive ">KEEP</span>
        <span style="font-size: 25px; color: #FF8C00";font-family: 'Rock Salt', cursive;>MINIA</span></br> 
        <span style="color:#FFD700;font-size: 40px; "> BEAUTIFUL</span></h4>
  </div>
   
   
   <div class="mail">
      <p > copy right &copy; All rights reserved</p>
      <!--<p>mah199645@gmail.com</p>-->
    </div>

   <div class="follow">
      <h3>follow us:</h3>
        <div class="icon">
       <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
       <a href="https://facebook.com/">  <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
    
    </div>
  </div>
</footer>

<script src="js/jquery-3.2.1.min.js"></script>  
<script src="js/bootstrap.min.js"></script> 
<script src="js/plugins
.js"></script> 

</body>

</html>