body{
font-family: 'Roboto', sans-serif;
}

.meter { -webkit-appearance: none; } //Crucial, this will disable the default styling in Webkit browsers

.meter::-webkit-meter-bar {
    background: #FFF;
    border: 1px solid #CCC;
}

.meter::-webkit-meter-optimum-value {
    background: #87C7DE;
    background: -moz-linear-gradient(top, #a1d4e6 0%, #6bb4d1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a1d4e6), color-stop(100%, #6bb4d1));
    background: -webkit-linear-gradient(top, #a1d4e6 0%, #6bb4d1 100%);
    background: -o-linear-gradient(top, #a1d4e6 0%, #6bb4d1 100%);
    background: -ms-linear-gradient(top, #a1d4e6 0%, #6bb4d1 100%);
    background: linear-gradient(to bottom, #a1d4e6 0%, #6bb4d1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1d4e6', endColorstr='#6bb4d1',GradientType=0);
}


.head2 {
 -webkit-float: right;
 margin: auto;
 padding-left: 100px
    
}
/*home style**/
#welcome{
 background-image: url("../Original images/sunrise.jpg");
  height: 800px;
  display: block;
 
}
#welcome h p {
    padding-top: 40px
}
    

.container h1{
      padding-top: 200px;

    text-align: center;
    font-size: 50px;
    color: black;
    font-family: 'Bungee', cursive;

}
.container h1 span{
    color: 	#DC143C;
    
    
}
.container p{
    font-size: 30px;
    text-align: center;
   color:#FFFAF0
}

.current a{
    color: #E08283;
}

    


.log ul{
    margin: 0 800px;
}



.log ul li a{
    text-decoration: none;
    list-style-type:none;
    /*color: 	#228B22;*/
    position: absolute;
    right: 150px;
    
}
.log ul li {
        display: inline;
        
        margin:0 20px

}
.log ul li a button:hover{
     font-size: 25px;
    background-color: #00FFFF
}

/*nav style**/
/*
.nav navbar-nav navbar-right{
    padding: 50px;
    margin-bottom: 80px
}*/
.navbar-header img{
    float:left;
    left:0;
    margin: auto
}
.navbar.navbar-default.navbar-inverse {
    background-color: 	#2F4F4F;
    padding: 10px;
    height: 110px
    
}
/*
.navbar .navbar-default .navbar-inverse .navbar-fixed-top ul li {
    margin: 0 300px
}
*/
.nav .navbar-nav .navbar-right ul li a:hover{
    background-color: #B22222;
    padding: 10px
    
}
/*footer style**/

footer{
    width: 100%;
    background-color: #A9A9A9;
    height: 110px;
    /*padding-top: 200px*/
    
}
footer .mail{
    padding-top:50px;
    float: left;
    margin: 0 300px;
        
   
}
footer .mail p{
    font-size: 20px;
     
}
footer .follow{
   float: right;
  margin: 0 10px;
   }

footer  h1{
    float: right;
   font-size: 50px;
    color: 	#B22222;
}
footer .icon i{
    float: right;
    font-size: 30px;
    display: inline-block;
    padding: 10px;
}
/*
footer.cont{
    float: left;
   margin: 0 10px;
   padding-top:10px;
   
}
footer.cont div h5{
 margin: 0 10px;
 padding-top:10px;
}
*/
/*order style**/
.introduction{
    background-color: #FF7F50;
   
    padding:50px

}
.introduction form{
     margin: auto;
     width: 70px;
     height: auto;
     padding: 50px
}
input[type="text"],input[type="email"]{
    padding:10px;
    background-color: 	#FFF8DC;
    display: block;
    left: 20px
}
textarea{
   
   
    padding: 15px;
    background-color: #BDB76B
    
}
input[type="submit"]{
    background-color:#FFF8DC;
    padding:20px;
    
    
}
  input[type="submit"]:hover{
    background-color: 	#00008B
  }
  
  textarea{
    width: 50%;
    overflow: scroll;
    display: inline-block;
    width: 70%
  }

/*contact style**/
.contactus{
     background-image: url(" https://s3.envato.com/files/141248930/4k133bhd_590.jpg");
     height: 100%;
     margin: -40px 0;
     padding: 20px
     
}
.contactus form{
    margin:100px 300px;
    background-color: #DCC6E0;
    padding: 20px;
    width: 50%;
 }
 form h1{
    color:#013243;
    font-size: 50px
    
 }
 .contactus form input{
    width: 80%;
    text-align: center
 }
 form button{
    padding: 8px;
    background-color: #9A12B3;
    color: #19B5FE;
    border-radius: 20px;
    margin: auto
 }
 .contactus form i{
    position: absolute;
    padding: 15px;
    border-right: 1px dotted 	#2F4F4F;
    size: 30px;
    background-color: 		#DAA520
    
 }
#main{
    padding-top: 50px
}
/*login **/
#enter{
    background-image: url("../Original images/nightsky.jpg");
    padding-top: 150px;
    width: 100%;
    height: 800px;
}
#enter form h1{
    margin-top:-10px;
    text-align: center;
     color: #000000;
     width:100%;
     border:5px solid #FFF5EE
    /* background-color: 			#8FBC8F*/

}

#enter form{
    width: 400px;
    height: 430px;
    background-color: 			#FFF5EE;
    border: 5px solid #FFFFE0;
    margin: 0 auto;
    padding: 10px;
    border-radius: 4px
}
#enter form input{
    margin: 30px 60px;
    width: 70%;
    height: 50%;
    margin-bottom: 30px;
    border-radius: 5px
    
    
}

#enter form button{
    padding: 10px;
    width: 200px;
    margin: 0 80px; 
   float: right
}

#enter form  .btn-1{
    color: 	#00FF00;
}

#enter form  a{
    color: 	#FF1493;

}
#enter form  h3{
    padding-top: 80px;
}
#register{
    background-image: url("../Original images/sky.jpg");
    padding-top: 100px;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
}
#register form{
    width: 600px;
    height:95%;
    background-color:#C0C0C0;
    margin: 0 auto;
    border:3px solid #FFF0F5;
    padding-top: 15px;

    
}
#register form .inp{ 
    width: 60%;
    height: 35px;
    margin: 0 auto;
    
    }
#register form h1{
    width: 100%;
    background-color:#2C3E50;
    color: #FFFFE0;
    font-size: 50px;
    text-align: center;
   margin-top:-15px;
   
    
}
#register form .pass{
    padding-left: 120px;
   
}
#register form .pass  #lab{
    padding-left:0
    }

#register form #lab{
    padding-left:120px;
    padding-top: 20px
}
#register form .pass #inp{
    width:80%;
    
}
#register form .custom-select{
     width: 60%;
    height: 35px;
    margin: 0 auto;
}
#register form .custom-select select{
    width: 100% ;
    height: 35px
}
#register form .custom-select #lab{
     padding-left:0
}
#register form button{
    width: 60%;
   
    background-color: 	#8FBC8F;
   margin:30px 30px;
   color: #F64747;
   font-size: 30px
}
#register form h3 a{
    color: #191970
}

/*make osder style*/
#order {
    padding-top: 110px;
    width: 100%;
    height: 500px;
   
}
#order img{
    width: 100%;
    height: 100%;
    
}
#description .img1 .img2 .img3 .img4.img5.img6.img7.img8.img9.img10 img{
   
   -webkit-transition: all .5s ease-in-out;
    
}
#description .img1:hover img{
    -webkit-transform: scale(1.2) ;
}
#description .img2:hover img{
    -webkit-transform: scale(1.2) ;
}#description .img3:hover img{
    -webkit-transform: scale(1.2) ;
}#description .img4:hover img{
    -webkit-transform: scale(1.2) ;
}#description .img5:hover img{
    -webkit-transform: scale(1.2) ;
}#description .img6:hover img{
    -webkit-transform: scale(1.2) ;
}#description .img7:hover img{
    -webkit-transform: scale(1.2) ;
}#description .img8:hover img{
    -webkit-transform: scale(1.2) ;
}#description .img9:hover img{
    -webkit-transform: scale(1.2) ;
}#description .img10:hover img{
    -webkit-transform: scale(1.2) ;
}
/*
#order form{
    width: 600px;
    height: 50%;
    background-color: #1E90FF;
    margin: 0 auto;
    border:3px solid #FFF0F5;
   
}

*/

 #description{
    height:600px;
    margin: 0 200px;
    padding-top: 60px
}
#description h3{
    padding-top: 30px;
    border-bottom: 2px solid red;
font-family: 'Berkshire Swash', cursive;
    padding-bottom: 15px

}
#description  a img:hover{
   background-color: #F57F17;
   
    transition:  background-color 1s ease
}
#description img{
    width: 25%;
    height: 15%;
}
#description .content-img{
       position: relative;

     width:100%;
    height: 100%;
   
    padding: 3px;
   
}
#description .content-img img{
    padding: 3px;
   
}
#description img .img1{
    width: 15%;
    height: 25%;
}

#description .text{
    font-family: 'Anton', sans-serif;

    margin: -80px 70px ;
    color: 	#C71585;
    font-size: 50px;
    justify-content:center;
}

#description .content-img img:hover{
     color: 		#C71585;
}
.btn01 {
    margin: 50px 300px;
    padding: 10px;
    width: 50%;
    
}
#order_now {
    padding: 100px 0 50px;
    font-size: 25px;
    height: 300px
    
}
#order_now button{
    
}
#order_now a{
     background-color: #48D1CC;
    text-decoration: none;
     margin: 0 100px;
     padding: 8px;
     border-radius: 50px;
     position: absolute;
     left: 35%;
     font-size:50px
     }
     #order_now i{
    
          color: #EC407A
     }
#paper{
    height:800px;
    margin: 0 200px;
    padding-top: 60px
}

#paper h2{
padding-top: 50px;
    border-bottom: 2px solid #8FBC8F;
    font-family: 'Anton', sans-serif;
    padding-bottom: 15px
    }
#paper .paper1{
    width: 50%;
    display: inline;
    }
#paper .paper2{
  width: 50%;
     float: right;
     margin-top: -400px
}
#paper .paper2 h2{
    color: 	#48D1CC;
    padding: 10px
}
#paper .paper2 p{
    overflow: hidden;
    font-size: 20px

    
  }
  /*order now*/

#now{
    height:500px;
    margin: 0 200px;
    padding-top: 100px;
    margin-bottom: 0;
    /*background-color: 	#FF8C00*/
    
  }
#now input{
    width: 300px;
    border-radius: 5%}
/**/
/*#now form{*/
/*    width: 100%;*/
/*    height:800px; */
/*    }*/
/*
*/ 
/*  #ground{*/
/*        border: 3px solid #A2DED0*/
/**/
/*}*/
/*#now form{*/
/*    border: 3px solid #A2DED0*/
/*}*/

#now h3{
    border-bottom: 2px solid red;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    padding-bottom: 15px
  }
 /*
  #now form .glass {
    margin: 0 20px
  }
 #now form .paper {
 margin:100px 500px;
 position: absolute;
 top: 155px    
   }
 #now form .inp_1 {
 margin:300px 680px;
 position: absolute;
 top: 20%    
   }
 #now form .plastic{
    margin: 0 20px
  }
  #now form .aluminum {
 margin:400px 500px;
 position: absolute;
 top: 155px    ;
   }
 #now form .inp_2{
 margin:-85px 500px;
      
   }
#now form .steal{
    margin: 160px 20px
  }
  #now form .inp_3{
    margin: -140px 20px;
   
  }
#now form .food{
 margin:700px 500px;
 position: absolute;
 top: 155px    
   }
#now form .inp_4{
    margin: 100px 500px;
   
  }
  
#now form .elec{
    margin: -30px 20px
  }
   #now form .inp_5{
    margin: 50px 20px
  }
  #now form .pags{
 margin:990px 500px;
 margin-bottom: 0;
 
 position: absolute;
 top: 155px    
   }
#now form .inp_6{
    margin: -100px 500px;
   
  }
*/
  #order_now2 button{
     background-color: #18FFFF  ;
     margin: 0 -160px;
     padding: 8px;
     position: absolute;
     left: 55%;
     font-size:50px;
     transition-property: background-color;
     transition-duration: .1s;
     transition-timing-function: ease
  }
  #order_now3 button{
     background-color: #81CFE0;
     margin: 970px 40px;
     padding: 8px;
     position: absolute;
     left: 20%;
     font-size:50px;
     transition-property: background-color;
     transition-duration: .1s;
     transition-timing-function: ease
  }
#order_now i{
    
          color: #EC407A
     }
 #order_now2 button:hover{
        background-color: #FFEB3B;
     }
  #about{
    margin: 0 150px;
    padding-top: 60px;
    margin: 0 200px;
    height:1200px;
    /*background-color: #91B496*/
}

#about h1{
    padding-top: 70px;
    border-bottom: 2px solid #512DA8;
    font-family: 'Anton', sans-serif;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
     font-size: 50px;
}   
 #about  p{
        overflow: hidden;
        font-size: 30px;
}
#about .team{
    width: 100%;
    padding-top: 40px
}
 #about .team h1{
    color: #512DA8;
    text-align: center;
    font-size: 50px;
    border: none
 }
  #about .team img{
    border-radius: 50%;
    padding: 5px;
  }

 /*#about .div1 p {
background-color: white;
display: inline-table;
}*/
 #about .why h1{
    /*font-size: 100px;*/
    color: 	#DC143C
 }
 #about .div1{
    width: 50%;
 }
#about .div1 p{
    background-color: white;
    font-size: 20px;
}
#about .div2 p{
    background-color: white;
    font-size: 20px;
}
#about .div2{
width: 50%;
margin:-160px 500px
}
#about .div3 p{
    background-color: white;
    font-size: 20px;
    }
    #about .div3{
        width: 50%;
        margin: 200px -10px;
        
    }

 #about .div4{
        width: 50%;
        margin:-350px 500px

    }
#about .div4 p{
    background-color: white;
    font-size:20px;
    }
#about .why i {
    color: #008B8B
}
#explore button{
     background-color:	#F9690E  ;
     padding: 8px;
     position: absolute;
     font-size:50px;
   
}
#explore1 button{
      background-color:	#F9690E    ;
     padding: 10px;
     position: absolute;
     font-size:50px;
    margin-top: 70px
   
}#explore2 button{
       background-color:	#F9690E   ;
     padding: 10px;
     position: absolute;
     font-size:50px;
    margin-top: 70px
}#explore3 button{
    background-color:	#F9690E    ;
     padding: 10px;
     position: absolute;
     font-size:50px;
    margin-top: 70px
}#explore4 button{
  background-color:	#F9690E    ;
     padding: 10px;
     position: absolute;
     font-size:50px;
    margin-top: 70px
}#explore5 button{
   background-color:	#F9690E   ;
     padding: 10px;
     position: absolute;
     font-size:50px;
    margin-top: 70px
}#explore6 button{
      background-color:	#F9690E   ;
     padding: 10px;
     position: absolute;
     font-size:50px;
    margin-top: 70px
}#explore7 button{
     background-color:	#F9690E    ;
     padding: 10px;
     position: absolute;
     font-size:50px;
    margin-top: 70px
}#explore8 button{
      background-color:	#F9690E    ;
     padding: 10px;
     position: absolute;
     font-size:50px;
    margin-top: 70px
   
}#explore9 button{
      background-color:	#F9690E    ;
     padding: 10px;
     position: absolute;
     font-size:50px;
    margin-top: 70px
}
.carousel-indicators li{
    width: 20px;
    height: 20px;
       
}
.carousel-indicators .active{
     width: 22px;
    height: 22px;
    background-color: #7FFFD4}
    .home{
        /*margin: 0 500px;*/
        text-align: center
    }
    .home button{
        padding: 7px;
        background-color: #7FFFD4;
        font-size: 400px;
        border-radius: 40px
        
        
    }
    .p{
        /*border: .5px solid #00FFFF;*/
        /*border-radius: 50%;*/
        margin: 0 500px;
        padding-top: 100px
    }
    .p h2{
        font-size: 100px;
        margin:  0 50px;
        /*border: 5px solid #7FFFD4;*/
        
        
    }
    .p h3{
        color: #674172;
        font-size: 20px
    }
    .money2{
        margin-top: 10px
        
    }
    .p1{}
    .p1 button{
        padding: 20px;
        font-size: 50px;
        background-color: #7FFFD4;
        margin: 50px  150px;
        width: 400px;
        
        
    }
   .p11 button{
        padding: 20px;
        font-size: 50px;
        background-color: #7FFFD4;
         margin: 50px 200px;
        width: 400px


    }
    .p2{
        margin-top: -30px
    }
    .p2 button{
        padding: 20px;
        font-size: 50px;
        background-color: #7FFFD4;
        margin: 0 250px
    }
    /*.poi{
        width: 100%;
        background-color: #FDE3A7
    }*/
    #home1{
     margin-top: 150px;
     
    }
    #home1 .h1{
        width: 50%;
        float: left;
        margin-left: 5px;
        
     }
    #home1 .h2{
        width: 50%;
        float: right;
        margin-top: -470px
        
    }
    #home1 .h2 h1{
        border-bottom: 1px solid  #AEA8D3;
        color: #2C3E50;
        font-size: 50px;
        font-family: 'Slabo 27px', serif;

        
    }#home1 .h2 p{
    font-family: 'Slabo 27px', serif;
    font-size: 40px;
    margin-left: 10px

    }
    #about1{
        /*//border: 1px solid #DCC6E0;*/
        margin-top:  150px ;
        margin-left: 200px;
        margin-right: 200px;
        
    }        

    #about1 h1{
        border-bottom: 1px solid #2574A9;
        line-height: 50px
    }
    
    #about1 .why h1{
    /*font-size: 100px;*/
    color: 	#DC143C
 }
 #about1 .div1{
    width: 50%;
 }
#about1 .div1 p{
    background-color: white;
    font-size: 20px;
}
#about1 .div2 p{
    background-color: white;
    font-size: 20px;
}
#about1 .div2{
width: 50%;
margin:-140px 500px
}
#about1 .div3 p{
    background-color: white;
    font-size: 20px;
    }
    #about1 .div3{
        width: 50%;
        margin: 200px -10px;
        
    }

 #about1 .div4{
        width: 50%;
        margin:-350px 500px

    }
#about1 .div4 p{
    background-color: white;
    font-size:20px;
    }
#about1 .why i {
    color: #008B8B
}
#minia{
    float:left;
    margin: 0 10px
    }
 #mail h4{
        margin:  0 15px
    }
    
    .o1{
        width: 50%;
        float: left
    }
    .o2{
        width: 50%;
        float: right
    }
    #replace{
        margin: 200px 200px 0 ;
        margin-bottom: -400px;
        height: 550px;
        border: 2px solid 	#90EE90;
        background-color: #FFC0CB
    }
    .r{
        text-align: center;
        margin-top: 50px;
        font-size: 30px;
        
    }
    .re{
        text-align: center;
        margin-top: 50px
    }
    .btn{
        margin:40px 340px;
        
        }
       .btn button{
        padding: 10px;
        background-color:	#8FBC8F;
        font-size: 40px
       }
       .btn .btn1{
        background-color: 	#AFEEEE
       }
       #about .paragrah{
       /* height: 400px;*/
        border: 2px solid #DCC6E0;
        border-bottom: 0;
        margin:  0 0;
        margin-top: 100px;
        padding: 0 10px;
        background-color:	transparent
       
       }
       #ab{
        width: 100%;
        height: 100%;
        background-color:  #FDE3A7
       }
       table{
        width: 80%;
        padding: 20px;
        text-align: center;
        margin: 0 auto
       }
       table th{
        background-color: #2ECC71;
        font-size: 30px
;
        text-align: center
       }table td{
        background-color: #EEEEEE;
        font-size: 20px
       }
       table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
#price{
    margin: 1200px 200px;
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid #F9BF3B;
    border-bottom: none;
            background-color: #A2DED0

}
#now{
    /*margin-bottom: -3000px;*/
}
.pr{
    background-color: #E4F1FE
}

#check{
    margin-top: 80px;
    margin-left: 5px;
    
}
/*
#check label{
    font-size: 25px;
    margin-left: -100px;
    color: #19B5FE
}*/
#check .money{
    size: 50px;
    display: inline-block
}
#check input{
         margin-left: -100px;

}
#check .check1 .check2{
    width: 20px;
    height: 20px;
    font-size: 30px
}

/*
 #check *,*:after,*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.check {
  margin: 50px auto;
  position: relative;
}

.check label {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.check input {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}


.check {
  width: 180px;
  height: 50px;
}

.check label {
  display: block;
  width: 100%;
  height: 100%;
  background: #a5a39d;
  border-radius: 40px;
  box-shadow:
      inset 0 3px 8px 1px rgba(0,0,0,0.2),
      0 1px 0 rgba(255,255,255,0.5);
}

.check label:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -8px; right: -8px; bottom: -8px; left: -8px;
  border-radius: inherit;
  background: #ababab;
  background: -moz-linear-gradient(#f2f2f2, #ababab);
  background: -ms-linear-gradient(#f2f2f2, #ababab);
  background: -o-linear-gradient(#f2f2f2, #ababab);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ababab));
  background: -webkit-linear-gradient(#f2f2f2, #ababab);
  background: linear-gradient(#f2f2f2, #ababab);
  box-shadow: 0 0 10px rgba(0,0,0,0.3),
        0 1px 1px rgba(0,0,0,0.25);
}

.check label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -18px; right: -18px; bottom: -18px; left: -18px;
  border-radius: inherit;
  background: #eee;
  background: -moz-linear-gradient(#e5e7e6, #eee);
  background: -ms-linear-gradient(#e5e7e6, #eee);
  background: -o-linear-gradient(#e5e7e6, #eee);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e7e6), to(#eee));
  background: -webkit-linear-gradient(#e5e7e6, #eee);
  background: linear-gradient(#e5e7e6, #eee);
  box-shadow:
      0 1px 0 rgba(255,255,255,0.5);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  filter: blur(1px);
}

.check label i {
  display: block;
  height: 100%;
  width: 60%;
  border-radius: inherit;
  background: silver;
  position: absolute;
  z-index: 2;
  right: 40%;
  top: 0;
  background: #b2ac9e;
  background: -moz-linear-gradient(#f7f2f6, #b2ac9e);
  background: -ms-linear-gradient(#f7f2f6, #b2ac9e);
  background: -o-linear-gradient(#f7f2f6, #b2ac9e);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f2f6), to(#b2ac9e));
  background: -webkit-linear-gradient(#f7f2f6, #b2ac9e);
  background: linear-gradient(#f7f2f6, #b2ac9e);
  box-shadow:
      inset 0 1px 0 white,
      0 0 8px rgba(0,0,0,0.3),
      0 5px 5px rgba(0,0,0,0.2);
}

.check label i:after {
  content: "";
  position: absolute;
  left: 15%;
  top: 25%;
  width: 70%;
  height: 50%;
  background: #d2cbc3;
  background: -moz-linear-gradient(#cbc7bc, #d2cbc3);
  background: -ms-linear-gradient(#cbc7bc, #d2cbc3);
  background: -o-linear-gradient(#cbc7bc, #d2cbc3);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#cbc7bc), to(#d2cbc3));
  background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
  background: linear-gradient(#cbc7bc, #d2cbc3);
  border-radius: inherit;
}

.check label i:before {
  content: "off";
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  color: rgba(0,0,0,0.4);
  text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: -50%;
}

.check input:checked ~ label {
  background: #9abb82;
}

.check input:checked ~ label i {
  right: -1%;
}

.check input:checked ~ label i:before {
  content: "on";
  right: 115%;
  color: #82a06a;
  text-shadow: 
    0 1px 0 #afcb9b,
    0 -1px 0 #6b8659;
}*/
.side{
    background-color: #F9BF3B;
    float: right;
    width: 250px;
    padding: 15px;
    margin-top: -150px;
    margin-right: -10px
}
.side .s1 .s2 h3{
    border-bottom: 1px solid #013243
}
#now section  .label{
  position: absolute;
  padding: 5px;

}
#now .address{
margin-top: -50px;
}
#now section .place{
width: 50%;
margin-top: 100px;
margin-left:20px


}
#now section .start{
  position: absolute;
}

#now .return{
/*margin-top: -50px;
*/
}
#now section .return2{
width: 50%;
margin-top: 50px;
margin-left:20px


}
#now section .start2{
  position: absolute;
}
#now section .return .place select{
  height: 50px; 
}

#now section .inst{
width: 50%;
margin-top: 50px;
margin-left:20px


}
#now section div .inst2{
  width: 50%;
  height: 50px; 


}